<p lang="__pogen_63">
  <b>ID:</b>
  <%= @user.id %>
</p>

<p lang="__pogen_64">
  <b>Name:</b>
  <%= @user.name %>
</p>

<p lang="__pogen_65">
  <b>Email:</b>
  <%= @user.email %>
</p>

<p lang="__pogen_66">
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<p lang="__pogen_67">
  <b>Created Date:</b>
  <%= @user.created_at %>	
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
